.model-selector {
  margin-bottom: 20px;
}

.selector-label {
  font-weight: bold;
  margin-right: 10px;
  color: #333;
}

.selector {
  padding: 10px;
  border: 2px solid #28a745;
  border-radius: 8px;
  background-color: #f8f9fa;
  font-size: 1rem;
  outline: none;
  width: 200px;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.selector::-ms-expand {
  display: none;
}

.selector {
  appearance: none;
}

.selector:hover {
  border-color: #296cfd;
}

.selector:focus {
  border-color: #296cfd;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.selector option {
  background-color: #fff;
  color: #333;
}

.selector option:hover {
  background-color: #296cfd;
  color: #fff;
}

.selector option:checked {
  background-color: #296cfd;
  color: #fff;
}
