body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-button {
  background-color: #526D82; /* Primary color */
  border-color: #526D82; /* Border color */
}

.custom-button:hover {
  background-color: #27374D; /* Darker shade of primary color */
  border-color: #27374D; /* Darker shade of primary color */
}


